* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--border);
}
header h1{
  color: var(--primary) ;
  

}
.likemtrC,
.cities,
.event-time,
.eventN {
  display: flex;
}
header h2{
  color: black;
}


/*input Details MJ*/
header input,select {
  width: 50px;
  height: 30px;
  border-color: var(--primary);
  width:90px ;
  
}

/* main conteiner MJ */
#main-container {
  width: 100%;
  padding: 50px;
}
#event-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  margin: 5% 5%;
}
#event-img {
  width: 50%;
}
#event-img-pic {
  width: 80%;
  padding-left: 40px;
}

.event-inf {
  font-weight: 900;
  padding-left: 50px;
}

/*end header MJ*/


/*footer style*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #808080;}

  footer div a{
    color: white;
  }
  /*end  footer*/
