:root {
    --primary: #F07F30;
    --footer-background: #d3d3d3;
    --border: #d3d3d3;
}
body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

header {
    display: flex;
}

.application-name {
    color: var(--primary) ;
    padding: 0px 20px;
    width: 80% ;
}

.application-name a {
    color: var(--primary) ;
    text-decoration: none;
}

.application-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 20%;
    color: var(--primary);
}

.back-btn {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: .3rem;
    font-size: 1em;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

.back-btn a {
    color: white;
    text-decoration: none;
}

.like-btn {
    background:none; 
    border:none;
    padding: 5px 5px;
    font-size: 1em;
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
}

.event-main {
    padding: 10px 20px;
}

.event-summary {
    display: flex;
    padding: 5px 0px;
    border-top: solid var(--border);
}

.event-img {
    width: 50%;
}

.event-details-main {
    width: 50%;
    padding: 0 40px;
    align-items: center;
}

.event-details-main h1 {
    font-size: 30px;
    color: var(--primary);
    padding: 10px 0px;
}

.event-date {
    font-weight: bold;
}

.event-location {
    font-weight: bold;
}

.event-address {
    font-size: 15px;
}

.price-section {
    padding: 5px 0px;
    border-top: solid var(--border);
}
.price-section h2 {
    text-align: center;
    color: var(--primary);
}
.event-price-main {
    display: flex;
    justify-content: space-around;
}

.event-desc-main {
    padding: 5px 0px;
    border-top: solid var(--border);
}
.event-desc-main h2 {
    text-align: center;
    color: var(--primary);
}

.event-desc-summary {
    font-weight: bold;
}

.event-main-saved {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.event-block {
    text-align: center;
    padding: 5px 5px; 
    width: 33%;
}


footer ul {
   
   
  display: flex;
    background-color: var(--footer-background);
    color: #808080;
    font-weight: bold;
    font-size: 1em;
}


footer a {
    color: #808080;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}
