:root {
    --primary: #F07F30;
    --secondary-color: rgb(255, 248, 239);
    --tertiary-color: rgb(119, 119, 121);
    --fourth-color: rgb(245, 245, 245);
    --fifth-color: white;
    --sixth-color: rgb(217, 217, 217);
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
}

header {
    display: flex;
    border-bottom: 3px solid var(--fourth-color);
}

.application-name {
    color: var(--primary) ;
    padding: 15px 20px 10px 30px;
    width: 70% ;
    margin: 0;
    font-size: 2em;
}

.application-name a {
    color: var(--primary) ;
    text-decoration: none;
}

.application-name-event-main {
    color: var(--primary) ;
    padding: 15px 20px 10px 30px;
    width: 40% ;
    margin: 0;
    font-size: 2em;
}

.application-name-event-main a {
    color: var(--primary) ;
    text-decoration: none;
}

.application-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px 30px;
    width: 30%;
    color: var(--primary);
    margin: 0
}

.application-action-event-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px 30px;
    width: 60%;
    color: var(--primary);
    margin: 0
}

.events-you-liked a {
    color: var(--primary) ;
}

.back-btn {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    box-shadow: 1px 1px 6px grey;
}

.back-btn a {
    color: white;
    text-decoration: none;
}

.like-btn {
    background:none; 
    border:none;
    padding: 5px 5px;
    font-size: 1em;
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
}

.event-main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
}

.event-summary {
    display: flex;
    padding: 10px;
}

.event-img {
    width: 50%;
}

.event-details-main {
    width: 50%;
    padding: 0 40px;
    align-items: center;
}

.event-details-main h1 {
    font-size: 30px;
    color: var(--primary);
    padding: 10px 0px;
}

.event-date {
    font-weight: bold;
}

.event-location {
    font-weight: bold;
}

.event-address {
    font-size: 15px;
}

.price-section {
    padding: 10px;
    border-top: solid var(--fourth-color);
}
.price-section h2 {
    text-align: center;
    color: var(--primary);
    background-color: var(--fifth-color);
    padding: 10px 200px;
    margin: 20px 150px 10px;
    border-radius: 15px;
}
.event-price-main {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    flex-wrap: wrap;
}

.price-detail {
    background-color: var(--fifth-color);
    padding: 10px 20px;
    margin: 20px 25px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
}

.event-desc-main {
    padding: 10px;
    border-top: solid var(--fourth-color);
}
.event-desc-main h2 {
    text-align: center;
    color: var(--primary);
    background-color: var(--fifth-color);
    padding: 10px 200px;
    margin: 20px 150px 40px;
    border-radius: 15px;
}

.event-desc-main p {
    padding: 10px 10px;
    background-color: var(--fifth-color);
    border-radius: 15px;
}
.event-desc-summary {
    font-weight: bold;
    padding: 10px 10px;
    background-color: var(--fifth-color);
    border-radius: 15px;
}

.event-main-saved {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
}

.event-block {
    text-align: center;
    margin: 20px; 
    width: 45%;
    background-color: var(--fifth-color);
    border-radius: 15px;
}

.event-block-img {
    opacity: 70%;
    border-radius: 15px;
    width: 80%;
}

.event-block-img:hover {
    opacity: 100%;
}

.event-block h1 {
    color: var(--primary);
}

.map {
    height: 400px;
    /* The height is 400 pixels */
    width: 69%;
    /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    padding: 10px;
  }

footer {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 10px 30px;
}

footer a {
    text-decoration: none;
    color: var(--tertiary-color);
}