:root {
    --primary-color: rgb(240, 127, 48);
    --secondary-color: rgb(255, 248, 239);
    --tertiary-color: rgb(119, 119, 121);
    --fourth-color: rgb(245, 245, 245);
    --fifth-color: white;
    --sixth-color: rgb(217, 217, 217);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    border-bottom: 3px solid var(--fourth-color);
}

header h1 {
    color: var(--primary-color);
    padding: 15px 20px 10px 30px;
}

section {
    height: 100%;
}

form {
    background-color: var(--secondary-color);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

form h2 {
    color: var(--primary-color);
    text-align: center;
    padding: 100px 20px 10px 30px;
    font-size: 32px;
}

.form-input {
    border: 1px solid var(--sixth-color);
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    text-align: center;
}

form button {
    color: var(--fifth-color);
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

.buttonHolder {
    text-align: center;
    padding: 10px 50px 40px 50px;
}

footer {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 10px 30px;
}

footer p {
    color: var(--tertiary-color);
}

footer a {
    text-decoration: none;
    color: var(--tertiary-color);
}