:root {
    --primary-color: rgb(240, 127, 48);
    --secondary-color: rgb(255, 248, 239);
    --tertiary-color: rgb(119, 119, 121);
    --fourth-color: rgb(245, 245, 245);
    --fifth-color: white;
    --sixth-color: rgb(217, 217, 217);
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
}

header {
    display: flex;
    border-bottom: 3px solid var(--fourth-color);
}

.application-name {
    color: var(--primary-color) ;
    padding: 15px 20px 10px 30px;
    width: 70% ;
    margin: 0;
    font-size: 2em;
}

.application-name a {
    color: var(--primary-color) ;
    text-decoration: none;
}

.application-name-event-main {
    color: var(--primary-color) ;
    padding: 15px 20px 10px 30px;
    width: 40% ;
    margin: 0;
    font-size: 2em;
}

.application-name-event-main a {
    color: var(--primary-color) ;
    text-decoration: none;
}

.application-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px 30px;
    width: 30%;
    color: var(--primary-color);
    margin: 0;
    font-size: 1.5em;
}

.application-action-event-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px 30px;
    width: 60%;
    color: var(--primary-color);
    margin: 0
}

.events-you-liked a {
    color: var(--primary-color);
}

.back-btn {
    background-color: var(--primary-color);
    color: var(--fifth-color);
    text-align: center;
    padding: 10px 5px 10px 5px;
    /* border-radius: 10px; */
    font-size: 0.75em;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    /* box-shadow: 1px 1px 6px grey; */
}

.back-btn a {
    text-decoration: none;
    color: var(--fifth-color);
    padding: 10px 5px 10px 5px;
    margin: 20px 10px 20px 10px;
}

.like-btn {
    background:none; 
    border:none;
    padding: 5px 5px;
    font-size: 1em;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
}

.event-main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
}

.event-summary {
    display: flex;
    padding: 10px;
}

.event-img {
    width: 50%;
}

.event-details-main {
    width: 50%;
    padding: 0 40px;
    align-items: center;
}

.event-details-main h1 {
    font-size: 30px;
    color: var(--primary-color);
    padding: 10px 0px;
}

.event-date {
    font-weight: bold;
}

.event-location {
    font-weight: bold;
}

.event-address {
    font-size: 15px;
}

.price-section {
    padding: 10px;
    border-top: solid var(--fourth-color);
}
.price-section h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--fifth-color);
    padding: 10px 200px;
    margin: 1%;
    /*margin: 20px 150px 10px*/;
    border-radius: 15px;
}
.event-price-main {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    flex-wrap: wrap;
}

.price-detail {
    background-color: var(--fifth-color);
    padding: 10px 20px;
    margin: 20px 25px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
}

.event-desc-main {
    padding: 10px;
    border-top: solid var(--fourth-color);
}
.event-desc-main h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--fifth-color);
    padding: 10px 200px;
    margin: 1%;
    border-radius: 15px;
}

.event-desc-main p {
    padding: 10px 10px;
    background-color: var(--fifth-color);
    border-radius: 15px;
}
.event-desc-summary {
    font-weight: bold;
    padding: 10px 10px;
    background-color: var(--fifth-color);
    border-radius: 15px;
}

.event-main-saved {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
}

.event-block {
    text-align: center;
    margin: 20px; 
    width: 45%;
    background-color: var(--fifth-color);
    border-radius: 15px;
}

.event-block-img {
    opacity: 70%;
    border-radius: 15px;
    width: 80%;
}

.event-block-img:hover {
    opacity: 100%;
}

.event-block h1 {
    color: var(--primary-color);
}

.map {
    height: 400px;
    /* The height is 400 pixels */
    width: 69%;
    /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    padding: 10px;
  }


/* START FOOTER*/
footer {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 10px 30px;
    color: var(--primary-color);
}

footer a {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
  }
  
.footer-distributed .footer-center i{
background-color:  var(--primary-color);
color: var(--fifth-color);
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p{
display: inline-block;
color: var(--tertiary-color);
font-weight:400;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  var(--tertiary-color);
text-decoration: none;
font-weight: bold;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight:300;
font-size: 20px;
left: 0;
color: var(--fifth-color);
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
width: 20%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color: var(--tertiary-color);
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span{
display: block;
color:  var(--primary-color);
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  var(--primary-color);
border-radius: 2px;

font-size: 20px;
color: var(--fifth-color);
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}


@media (max-width: 880px) {

.footer-distributed{
    font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.footer-distributed .footer-center i{
    margin-left: 0;
}

}
  
/*end  footer*/